<ion-view hide-back-button="false" has-navbar="true" hide-nav-bar="true">
    <ion-content class="padding">
        <img src="img/pling_logo.png" class="center" alt="">
        <img src="img/pling_text.png" class="center_text" alt="">
        <p class="center_text_info_padding">Meddelandetjänsten som levererar</p>
        <button class="button button-block button-positive" ng-click="registration()">
            Skapa konto
        </button>
        <p class="center_text_info">Har du redan ett konto? <a href="" ng-click="login()">Logga in</a></p>
    </ion-content>
</ion-view -->
