<ion-view view-title="Dokument">
    <ion-content>
        <div class="padding">
            <div class="list">
                <a class="item item-icon-left item-icon-right" href="">
                    <i class="icon ion-document"></i> Projektplan över stambyte i Brf Gladan
                    <i class="icon ion-ios-cloud-download-outline"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="">
                    <i class="icon ion-document"></i>Lista över involverade leverantörer
                    <i class="icon ion-ios-cloud-download-outline"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="">
                    <i class="icon ion-document"></i>Bra att veta inför renoveringen
                    <i class="icon ion-ios-cloud-download-outline"></i>
                </a>
                <a class="item item-icon-left item-icon-right" href="">
                    <i class="icon ion-document"></i>Viktig information
                    <i class="icon ion-ios-cloud-download-outline"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
