<ion-view view-title="Inställningar">
    <ion-content>
        <div class="padding">
            <ul class="list">
                <li class="item item-toggle">
                    SMS-avisering
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle">
                    Mail-utskick
                    <label class="toggle toggle-balanced">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
