<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Notifications Tab -->
    <ion-tab title="Avisering" icon-off="ion-ios-email" icon-on="ion-ios-email-outline" href="#/tab/notifications">
        <ion-nav-view name="tab-notifications"></ion-nav-view>
    </ion-tab>
    <!-- Settings Tab -->
    <ion-tab title="Inställningar" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>
    <!-- Informations Tab -->
    <ion-tab title="Information" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/informations">
        <ion-nav-view name="tab-informations"></ion-nav-view>
    </ion-tab>
    <!--  Tab -->
    <ion-tab title="Avsluta" icon-off="ion-log-out" icon-on="ion-log-out" href="/start">
    </ion-tab>
</ion-tabs>
